# Ignore
slides
slides_pdf
slides.zip
__pycache__
.ipynb_checkpoints
01_Aula_17.06.2026/chat_17.06.2026.txt
03_Aula_01.07.2026/VIS101 - Aula 3 (Chat).txt
04_Aula_08.07.2026/VIS101 - Aula 4 (Chat).txt
yolov*pt
*.csv
*.json

# Allow
!/requirements.txt
